@import 'normalize.css';

@media(max-width: 991px) {
    .sidebar {
        background-color: white;
        backdrop-filter: blur(10px);
    }
}

.loginIcon {
    background-color: none;
    margin-right: 10px;
    font-weight: bold;
    font-size: 20px;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginContent {
    font-weight: bold;
    font-size: 15px;
}

.navBarContent {
    font-weight: bold;

}

.loginButton {
    color: black;
    border: 2px solid #000;
    text-align: center;

    &:hover {
        color: white;
        background-color: #ff7aac;
    }
}

.log-out-button {
    margin-right: 1em;
}