.form-label {
    font-weight: bold;
}

.form-control {
    border-radius: 5px;
}

.input-group-append .btn {
    border-radius: 5px;
}

.dropdown-toggle-multi-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: #000;
    border: 2.5px solid #ced4da;
    border-radius: 4px;
    width: 130%;

    .dropdown-text {
        display: flex;
        flex-direction: column;
        text-align: left;
        align-items: start;
    }

    span {
        display: block;
    }

    .dropdown-tittle {
        font-size: 13px;
    }

    .dropdown-choice {
        font-size: larger;
    }

    &:hover {
        background-color: white;
        color: black;
        border: 2.5px solid black;
    }

    &:active {
        background-color: white;
        color: black;
        border: 2.5px solid black;
    }

}

.filter-bar-row {
    margin: 15px 0;
}

.dropdown-menu {
    width: 100%;
}

.search-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: #000;
    border: 2.5px solid #ced4da;
    border-radius: 4px;
    width: 130%;
    margin-left: 60px;
}

.rw-widget-picker {
    border-radius: 4px;
    height: 3.95em;
}

.rw-widget-picker:focus {
    border-color: none;
    box-shadow: none;
}

.rw-widget-input {}

.rw-widget {
    font-size: 100px;
}